<!-- <div class="col-md-12">
  <div class="row" style="margin-bottom:20px;" ng-show="!contract.valid">
    <span class="eth-stat" >
    <i style="color: red" class="fa fa-wheelchair"></i> Contract Source Code Unverified
    </span><br>
    <span class="eth-stat-text"><a href="/contract/{{addrHash}}">Verify And Publish Source Code.</a></span>
  </div>

  <div class="row" ng-show="template.valid">
    <p class="eth-stat">
    <i style="color: green" class="fa fa-check-circle-o"></i> Contract Source Code Verified
    </p>
  </div>
  <div class="row" ng-show="template.valid">
    <div class="col-md-6 center">
      <div class="eth-stat">
          <div class="margin-top-20">
          <span class="eth-stat-text">Contract Name: </span>
          <span ng-model="template.contractName">{{template.contractName}}</span>
          </div>
          <div class="margin-top-20">
          <span class="eth-stat-text">Compiler Version: </span>
          <span ng-model="template.compilerVersion">{{template.compilerVersion}}</span>
          </div>
          <div class="margin-top-20">
          <span class="eth-stat-text">Optimization Enabled: </span>
          <span ng-model="template.optimization">{{template.optimization}}</span>
          </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <i ng-class=" template.equal === undefined ? 'fa fa-spinner fa-pulse' : (template.equal ? 'fa fa-check-circle-o' : 'fa fa-times')" ng-style="{color:  template.equal === undefined ? 'black' : (template.equal ? 'green' :'red')}"></i>
    {{template.equal === undefined ? "Loading..." : (template.equal ? "Contract Source Code Verified" : "Contract source code not verified ")}}
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="templateDatas">
        <tr>
          <td style="text-align-last: justify;">Contract Name:</td>
          <td style="text-indent: 20px">{{templateDatas.ContractName}}</td>
        </tr>
        <tr>
          <td style="text-align-last: justify;">Compiler Text:</td>
          <td style="text-indent: 20px">{{templateDatas.CompilerVersion}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <table class="templateDatas">
        <tr>
          <td style="text-align-last: justify;">Optimization Enabled:</td>
          <td style="text-indent: 20px">{{templateDatas.OptimizationEnabled}}</td>
        </tr>
        <tr>
          <td style="text-align-last: justify;">Runs (Optimiser): </td>
          <td style="text-indent: 20px">{{templateDatas["Runs(Optimiser)"]}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
     <span> Contract Source Code <i class="fa fa-code"></i></span>
     <pre style="min-height: 200px;overflow: auto;" id="code" class="ace_editor" style="min-height:100px"><textarea class="ace_text-input">
     </textarea></pre>
  </div>
  <div class="row">
     <span> Contract ABI <i class="fa fa-cogs"></i></span>
     <pre style="min-height: 200px;overflow: auto;" class="code-bytecode" ng-class="{verified: template.valid}">{{templateDatas.abi}}</pre>
  </div>
  <div class="row">
    Template Bytecode <i class="fa fa-building-o"></i>
    <pre class="code-bytecode" ng-class="{verified: template.valid}">{{template.byteCode}}</pre>
  </div>
  <div class="row">
    <div class="portlet light portlet-datatable col-md-12">
      <div class="portlet-body">
        <div class="tabbable-line">
          <div class="tab-content">
            <div class="tab-pane table-container" ng-class="{active: true}" id="tab_block_1">
              <!-- Datatable tab -->
              <table class="table table-striped table-hover" id="table_TemplateInstance" style="table-layout:fixed;width: 98% !important;">
                <thead>
                  <tr role="row" class="heading">
                    <th>Template Instance</th>

                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div><!-- End: Datatable tab -->
          </div>
        </div>

      </div>
    </div><!-- End: portlet -->
  </div>
</div>