<div class="row">
    <div class="portlet light portlet-datatable col-md-12">
        <div class="portlet-body">
            <div class="tabbable-line">
                <div class="tab-content">
                    <div class="tab-pane table-container" ng-class="{active: true}" id="tab_block_1"><!-- Datatable tab -->
                        <table class="table table-striped table-hover" id="table_blocks" style="table-layout:fixed;width: 98% !important;">
                            <thead>
                            <tr role="row" class="heading">
                                <th> Height </th>
                                <th style="width:150px"> Age </th>
                                <th> txn </th>
                                <th> Uncles </th>
                                <th> Miner </th>
                                <th> GasUsed </th>
                                <th> GasLimit </th>
                                <th> Reward </th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div><!-- End: Datatable tab -->
                </div>
            </div>

        </div>
    </div><!-- End: portlet -->
</div>